@import "./fonts/fonts.css";

:root {
    --border-radius: 4px;
}


#control-toggle {
    position: fixed;
    right:1vh;
    bottom:1vh;

    height: 20px;
    width: 20px;

    background-color:black;
    border:1px solid white; 
    border-radius: var(--border-radius);
    color:white;
    
    z-index:1;
}

#control-toggle .centered-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

#control-container {
    position: fixed;
    right:1vh;
    bottom:calc(2vh + 20px);

    width: calc(100vw - 2vh);

    background-color:black;
    border:1px solid white; 
    border-radius: var(--border-radius);
    color:white;

    display: flex;
        
    z-index: 1;
}

.parameter-container {
    border: 1px solid red;
    width: 500px;
}


