@import "./fonts/fonts.css";
@import "./reset.css";

:root {
    --border-radius: 4px;
}

* {
    box-sizing: border-box;
}


#control-toggle {
    position: fixed;
    left:1vh;
    bottom:1vh;

    height: 20px;
    width: 20px;

    background-color:black;
    border:1px solid white; 
    border-radius: var(--border-radius);
    color:white;

    cursor: pointer;
    
    z-index:1;
}

#control-toggle .centered-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

#control-container {
    position: fixed;
    left:1vh;
    bottom:-100vh;

    width: calc(100vw - 2vh);

    border-radius: var(--border-radius);
    color:white;

    display: flex;
    flex-wrap: wrap;
        
    z-index: 1;
}

#control-container.active {
    bottom:calc(2vh + 20px);
}

.parameter-title {
    display: block;
    font-size: 12px;
    margin-bottom: 1vh;
}

.parameter-input {
    margin:0;
    padding:5px;
    width: 100%;
}

.parameter-input[type="checkbox"] {
    margin:0;
    padding:5px;
    width: auto;
}

.parameter-container {
    width: calc((100vw - 2vh) / 6);
    border: 1px solid white;
    margin-bottom: 1vh;
    margin-right: 1vh;
    padding:5px;

    background-color: black;
}


#timestep-container {
    position: fixed;
    left:1vh;
    top:1vh;

    font-size: 0.8em;
    color: white;

    z-index: 1;
}